<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Netec</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarOptions" aria-controls="navbarOptions" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarOptions">
      <div class="navbar-nav">
        <a class="nav-link" routerLink="/cursos">Cursos</a>
        <a class="nav-link" routerLink="/about">About</a>
      </div>
    </div>

  </div>
</nav>
